<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ page.tags | join: ', ' }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    {% include open-graph.html %}
    {% if site.google.verify %}
    <!-- Webmaster Tools verfication -->
    <meta name="google-site-verification" content="{{ site.google.verify }}">{% endif %}
    {% if site.bing-verify %}<meta name="msvalidate.01" content="{{ site.bing-verify }}">{% endif %}
    <!-- Handheld -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    {% include favicon.html %}
    <!-- Feed -->

    <!-- Font Awesome (self-hosted) -->
<link rel="stylesheet" href="{{ '/assets/css/vendor/fontawesome.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/vendor/brands.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/vendor/solid.css' | relative_url }}"><!-- togli se non usi icone solid -->

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/main.css">
{% include cookieconsent.html %}
<!-- google analytics -->
{% include google-analytics.html %}
</head>
