    {%- if page.image -%}
      {%- assign og_image = page.image | absolute_url -%}
    {%- else -%}
      {%- assign og_image = site.picture | prepend: '/' | absolute_url -%}
    {%- endif -%}
    {%- if page.layout == 'post' -%}
      {%- assign og_type = 'article' -%}
    {%- else -%}
      {%- assign og_type = 'website' -%}
    {%- endif -%}

    <!-- Twitter Cards -->
    <meta name="twitter:title" content="{% if page.url != "/" and page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    {% if page.excerpt %}<meta name="twitter:description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if site.twitter %}<meta name="twitter:site" content="@{{ site.twitter }}">
    <meta name="twitter:creator" content="@{{ site.twitter }}">{% endif %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{ og_image }}">
    <!-- Open Graph -->
    <meta property="og:locale" content="{{ site.locale }}">
    <meta property="og:type" content="{{ og_type }}">
    <meta property="og:title" content="{% if page.url != "/" and page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    {% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:image" content="{{ og_image }}">
