<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <script defer src="{{ '/assets/js/menu.js' | relative_url }}"></script>
    <div class="menu-toggle">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="menu-drawer">
      {% include nav-home.html %}
    </div>
    <div class="top-strip">
      <div class="page-wrap">
        <div class="page-title">
          {{ site.title }}
        </div>

        <div class="desktop-only">
          {% include nav.html %}
        </div>
      </div>
    </div>
    <div class="page-wrap">
      <div class="posts-list">
        <div class="post">
          <div class="post-header">
            <h2>{{ page.title }}</h2>
          </div>
          <hr>
          <div class="content">
            {{ content }}
          </div>
        </div>
{% include scripts.html %}
	</div>
    </div>
    {% include footer.html %}
  </body>
</html>
