<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <script defer src="{{ '/assets/js/menu.js' | relative_url }}"></script>
    <div class="menu-toggle">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="menu-drawer">
      {% include nav-home.html %}
    </div>
    <div class="top-strip">
      <div class="page-wrap">
        <div class="page-title">
          {{ site.title }}
        </div>

        <div class="desktop-only">
          {% include nav.html %}
        </div>
      </div>
    </div>
    <div class="page-wrap">
      <div class="projects-list">
        {% for post in site.posts %}
          {% if post.project %}
            <div class="project-card">
              <div class="product-image">
                <img src="{{ post.image | relative_url }}" alt="{{ post.title | escape }}" loading="lazy" decoding="async">
              </div>
              <div class="product-name">
                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
              </div>
              <div class="product-desc">
                {{ post.excerpt }}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
